@import "components/_starter";
@import "components/_imageViewer";
@import "components/_svgs";
header {
    height    : 600px;
    background: rgba(76, 41, 146, 0.6);
    &:before {
        content          : ' ';
        display          : block;
        position         : absolute;
        left             : 0;
        top              : 0;
        width            : 100%;
        height           : 100%;
        z-index          : -1;
        opacity          : 0.6;
        background-image : url('../images/background.jpg');
        background-repeat: no-repeat;
        background-size  : cover;
    }
    section.container {
        height: 95%;
    }
}
section.first {
    padding-bottom: 0;
}
h1.main {
    margin-top   : 0;
    margin-bottom: 0;
}
h2.main {
    margin: 0.2em auto 1em;
}
.flowerGroup {
    position: absolute;
    display : inline-block;
    margin  : 0 auto;
    &.top {
        margin-top: 1em;
        i {
            transition-delay   : 0.4s;
            transition-duration: 2s;
        }
        .one {
            display: inline-block;
        }
        .two {
            position           : absolute;
            top                : 0;
            left               : 5.8em;
            transition-delay   : 0.6s;
            transition-duration: 1.2s;
        }
        .three {
            position           : absolute;
            top                : -1em;
            left               : 4.5em;
            transition-delay   : 1s;
            transition-duration: 1s;
        }
    }
    &.bottom {
        i {
            transition-delay   : 1.2s;
            transition-duration: 2s;
        }
        .one {
            display: inline-block;
        }
        .two {
            position           : absolute;
            top                : 1em;
            left               : -3.7em;
            transition-delay   : 1.3s;
            transition-duration: 1s;
        }
        .three {
            position           : absolute;
            top                : -0.5em;
            left               : -1em;
            transition-delay   : 1.4s;
            transition-duration: 0.8s;
        }
    }
}
img.topLeft {
    position: absolute;
    top     : 1.5em;
    left    : 1.5em;
}
img.bottomRight {
    position: absolute;
    bottom  : 1.5em;
    right   : 1.5em;
}
.active {
    .flowerGroup {
        i {
            opacity  : 1;
            transform: scale(1);
        }
    }
}
.second {
    padding-top   : 1em;
    padding-bottom: 3em;
}
.third {
    padding-bottom: 2.5em;
    h3 {
        margin-bottom: 0.1em;
    }
}
.fourth {
    h2 {
        margin-bottom: 0.1em;
    }
    .innerModal {
        border        : 1px solid $colorMain;
        padding-bottom: 2em;
        textarea {
            resize: none;
            height: 7em;
        }
    }
}
