.icon-Hibiscus copy { background-image: url('png/Hibiscus copy.png'); background-repeat: no-repeat; }

.icon-Hibiscus flip { background-image: url('png/Hibiscus flip.png'); background-repeat: no-repeat; }

.icon-Hibiscus-2 { background-image: url('png/Hibiscus-2.png'); background-repeat: no-repeat; }

.icon-Hibiscus-center { background-image: url('png/Hibiscus-center.png'); background-repeat: no-repeat; }

.icon-Hibiscus-flip { background-image: url('png/Hibiscus-flip.png'); background-repeat: no-repeat; }

.icon-Hibiscus { background-image: url('png/Hibiscus.png'); background-repeat: no-repeat; }

