@import "_starter";
.imageViewer {
    display : block;
    position: relative;
    width   : 100%;
    margin  : 0 auto;
    padding : 0.5em;
    height  : 300px;
    @media(max-width: $smallBP) {
      height: 270px;
    }
    button {
        position  : absolute;
        top       : 0;
        height    : 100%;
        width     : 10%;
        padding   : 0;
        background: transparent;
        box-shadow: none;
        z-index   : 10;
        cursor    : pointer;
        &.imgLeft {
            left: 0;
        }
        &.imgRight {
            right: 0;
        }
    }
    img.b-lazy {
        display      : none;
        position     : absolute;
        top          : 50%;
        transform    : translateY(-50%);
        left         : 0;
        right        : 0;
        margin       : 0 auto;
        padding      : 0.4em;
        background   : $colorBackground;
        border-radius: 3px;
        opacity      : 0;
        visibility   : hidden;
        max-height   : 90%;
        max-width    : 550px;
        @include shadow(1);
        transition   : all 0.3s ease;
        @media(max-width: $mediumBP) {
            max-width: 350px;
        }
        @media(max-width: $smallBP) {
            max-width: 70%;
        }
        &.active {
            display   : block;
            visibility: visible;
            opacity   : 1;
        }
        &.left,
        &.right {
            display   : block;
            opacity   : 0.5;
            transform : translateY(-30%) scale(0.7);
            cursor    : pointer;
            visibility: visible;
            @media(max-width: $smallBP) {
              opacity: 0.3;
            }
        }
        &.left {
            transform: translateY(-50%) translateX(-110%) scale(0.7);
            @media(max-width: $mediumBP) {
                transform: translateY(-50%) translateX(-90%) scale(0.7);
            }
        }
        &.right {
            transform: translateY(-50%) translateX(110%) scale(0.7);
            @media(max-width: $mediumBP) {
                transform: translateY(-50%) translateX(90%) scale(0.7);
            }
        }
    }
}
