@import "normalize"; // font
//Variables
$colorMain: #673AB7;
$colorDark: #240D72;
$colorLightMain: #9575CD;
$colorSubtle: #2B52A4;
$colorHighlight: #F5D32C;
$colorAccent: #F5B12C;
$colorLight: #FFE154;
$colorBackground: #F1ECD6;
$colorGrey: #757575;
$colorWhite: #FFFFFF;
$colorBlack: #212121;
$containerWidth: 1000px;
$funFont: 'Bad Script', sans-serif;
@function top-shadow($depth) {
    $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
    $blur          : nth(1.5 3 10 14 19, $depth) * 4px;
    $color         : rgba(black, nth(.12 .16 .19 .25 .30, $depth));
    @return 0 $primary-offset $blur $color;
}
@function bottom-shadow($depth) {
    $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
    $blur          : nth(1 3 3 5 6, $depth) * 4px;
    $color         : rgba(black, nth(.24 .23 .23 .22 .22, $depth));
    @return 0 $primary-offset $blur $color;
}
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}
//** Mixins **//
@mixin shadow($depth) {
     @if $depth < 1{
        box-shadow: none;
    }
    @else if $depth > 5 {
         @warn"Invalid $depth `#{$depth}` for mixin `shadow`.";
    }
    @else {
        box-shadow: bottom-shadow($depth), top-shadow($depth);
    }
}
@mixin media-large {
     @media only screen and (min-width: 50em){
        @content;
    }
}
@mixin media-medium {
     @media only screen and (max-width: 50em){
        @content;
    }
}
@mixin media-small {
     @media only screen and (max-width: 35em){
        @content;
    }
}
@mixin darkShadow {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
body {
    font-family            : 'Josefin Sans', sans-serif;
    min-height             : 100%;
    background             : $colorBackground;
    color                  : $colorBlack;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h3,
h5 {
    font-family: $funFont;
    font-weight: normal;
    text-align : center;
}
h1 {
    font-size: 2.5em;
    margin   : 0.2em auto;
    &.main {
        letter-spacing: 3px;
        font-size     : 4em;
        @include darkShadow;
        @include media-large {
            font-size: 7em;
        }
        @include media-medium {
            font-size: 5.5em;
        }
    }
}
h3 {
    font-size: 3em;
}
h2 {
    font-weight: normal;
    text-align : center;
    font-size  : 2em;
    &.main {
        font-size: 1.8em;
        @include darkShadow;
        @include media-large {
            font-size: 2.5em;
        }
    }
}
.subtleText {
    color     : $colorGrey;
    font-style: italic;
}
.likeButton,
button {
    display        : inline-block;
    background     : $colorMain;
    padding        : 0.6em 1.6em 0.5em;
    margin         : 0.5em auto;
    border         : none;
    border-radius  : 3px;
    color          : $colorWhite;
    text-decoration: none;
    font-size      : 1.4em;
    @include shadow(1);
    transition     : box-shadow 0.2s ease;
    &.primary {
        background: $colorAccent;
    }
    &:hover {
        @include shadow(2);
    }
    &:active,
    &:focus,
    &:visited {
        color  : $colorWhite;
        outline: none;
    }
}
header {
    position  : relative;
    background: $colorLightMain;
    color     : $colorWhite;
    height    : 200px;
    box-sizing: border-box;
    padding   : 1.5em;
    text-align: center;
    & + main.overlap {
        margin-top: -5em;
    }
}
main {
    position     : relative;
    width        : 95%;
    max-width    : $containerWidth;
    box-sizing   : border-box;
    margin-left  : auto;
    margin-right : auto;
    margin-bottom: 2em;
    background   : $colorWhite;
    border-radius: 3px;
    overflow     : hidden;
    @include shadow(1);
    section {
        padding: 1em;
    }
}
.funFont {
    font-family: $funFont;
    font-size  : 1em;
    color      : $colorMain;
}
.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: $containerWidth;
  margin: 0 auto;
  box-sizing: border-box;
  &.padded {
    padding: 1em;
  }
}
p {
    width      : 80%;
    margin     : 2em auto;
    line-height: 150%;
    font-size  : 1.2em;
}
.centerAlign {
    text-align: center;
}
.thirds {
    width      : 30.6666666667%;
    margin-left: 4%;
}
.feature {
    display   : block;
    width     : 60%;
    margin    : 1em auto 0;
    padding   : 0.8em 2em 0;
    overflow-y: hidden;
    & * {
        display   : block;
        margin    : 0 auto;
        padding   : 0;
        max-width : 70%;
        opacity   : 0;
        transform : translateY(100px);
        transition: opacity 0.6s ease, transform 1s ease;
    }
    &.active * {
        opacity  : 1;
        transform: translateY(0);
    }
}
.dark {
    background: $colorMain;
    color     : $colorWhite;
}
