input[type="email"],
input[type="text"],
textarea {
	display   : block;
	margin    : 0 auto 0.2em;
	width     : 90%;
	padding   : 0.4em;
	background: transparent;
	border    : 2px solid #e7e7e7;
	color     : inherit;
	font-size : 1.2em;
	transition: border-color 0.2s ease;
	box-sizing: border-box;
	&:focus {
		outline   : none;
		border-color: #d1d1d1;
	}
}
textarea {
  resize: vertical;
}
label {
	display   : block;
	margin    : 1em auto 0;
	font-size : 1.3em;
	width     : 90%;
	color     : #464646;
	text-align: left;
}
fieldset {
	border: none;
	ul {
		margin-top: 0;
	}
	li {
		list-style: none;
		label {
			display: inline-block;
			margin : 1em auto 0 0.2em;
		}
	}
}
.message {
	margin-top: 0.2em;
  font-size: 1.1em;
	&.required, &.validation {
		color: #D32F2F;
	}
	&.Good {
		font-size: 1.4em;
	}
}
