@import '_layout';
@import '_pickaday';
input[type="email"],
input[type="text"],
textarea {
	display   : block;
	margin    : 0 auto 0.2em;
	width     : 90%;
	padding   : 0.4em;
	background: transparent;
	border    : 2px solid #cacaca;
	color     : inherit;
	font-size : 1.2em;
	transition: border-color 0.2s ease;
	box-sizing: border-box;
	&:focus {
		outline     : none;
		border-color: #9a9a9a;
	}
}
textarea {
	resize: vertical;
}
select {
	width     : 90%;
	padding   : 0.4em;
	height    : 38px;
	box-sizing: border-box;
}
label {
	display   : block;
	margin    : 1.4em auto 0;
	font-size : 1.3em;
	width     : 90%;
	color     : #464646;
	text-align: left;
}
@media(max-width: $smallBP) {
	input[type="email"],
	input[type="text"],
	label,
	select,
	textarea {
		width: 100%;
	}
}
.required label {
	&::after {
		content  : '*';
		color    : #D32F2F;
		font-size: 1.2em;
	}
}
fieldset {
	border: none;
	@media(max-width: $smallBP) {
		margin: 0;
	}
	ul {
		margin-top   : 0.2em;
		margin-bottom: 0.8em;
	}
	li {
		list-style: none;
		label {
			display: inline-block;
			margin : 1em auto 0 0.2em;
		}
	}
	.field {
		@media(max-width: 350px) {
			width: 80%;
			margin:1em;
		}
	}
}
.message {
	width    : 90%;
	margin   : 0.2em auto 0;
	font-size: 1.2em;
	&.required,
	&.validation {
		margin: 0.5em auto 0.7em;
		color     : #D32F2F;
		text-align: left;
	}
	&.Good {
		font-size    : 1.4em;
		background   : #c8edce;
		color        : #2b6d2b;
		border-top   : 1px solid #4aa04a;
		border-bottom: 1px solid #4aa04a;
		padding      : 1em 0;
	}
}
.field.nocaptcha {
	display: inline-block;
	margin : 1em auto;
	@media(max-width: 350px) {
		transform: scale(0.8);
		width: 300px !important;
	}
}
.pika-lendar {
	button {
		box-shadow: none;
		margin    : 0;
	}
}
article.formContainer {
	text-align: center;
	margin-bottom: 3em;
	&.formContainerSmall {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	h2 {
		margin-bottom: 0;
	}
	@media(max-width: $smallBP) {
		width  : 100%;
		padding: 0;
	}
}
