@import "_layout";
@import "_styling";
.imageViewer {
	display   : block;
	position  : relative;
	width     : 100%;
	margin    : 0 auto 1.6em;
	padding   : 0.5em 0;
	height    : 300px;
	box-sizing: border-box;
	@media(max-width: $smallBP) {
		height: 270px;
	}
	button {
		position  : absolute;
		top       : 0;
		height    : 100%;
		width     : 20%;
		padding   : 0;
		margin    : 0;
		background: transparent;
		box-shadow: none;
		z-index   : 10;
		cursor    : pointer;
		img {
			padding                   : 1em 0.4em;
			background                : $colorOverlay;
		}
		&.imgLeft {
			left: 0;
			text-align: left;
			img {
				border-top-right-radius   : 3px;
				border-bottom-right-radius: 3px;
			}
		}
		&.imgRight {
			right: 0;
			text-align: right;
			img {
				border-top-left-radius   : 3px;
				border-bottom-left-radius: 3px;
			}
		}
	}
	img.imgFeature {
		display      : block;
		position     : absolute;
		top          : 50%;
		transform    : translateY(-50%);
		left         : 0;
		right        : 0;
		margin       : 0 auto;
		padding      : 0.4em;
		background   : $colorBackground;
		border-radius: 3px;
		opacity      : 0;
		visibility   : hidden;
		max-width    : 650px;
		max-height   : 100%;
		@include shadow(1);
		transition   : all 0.3s ease;
		@media(max-width: $mediumBP) {
			max-width: 350px;
		}
		@media(max-width: $smallBP) {
			max-width: 70%;
			transition: none;
		}
		&.active {
			display   : block;
			visibility: visible;
			opacity   : 1;
		}
		&.left,
		&.right {
			display   : block;
			opacity   : 0.6;
			transform : translateY(-30%) scale(0.7);
			cursor    : pointer;
			visibility: visible;
			@media(max-width: $smallBP) {
				opacity: 0.3;
			}
		}
		&.left {
			transform: translateY(-50%) translateX(-110%) scale(0.7);
			@media(max-width: $mediumBP) {
				transform: translateY(-50%) translateX(-90%) scale(0.7);
			}
		}
		&.right {
			transform: translateY(-50%) translateX(110%) scale(0.7);
			@media(max-width: $mediumBP) {
				transform: translateY(-50%) translateX(90%) scale(0.7);
			}
		}
	}
}
