@import "normalize";
$containerWidth: 1100px;
$largeBP: 1100px;
$mediumBP: 1000px;
$smallBP: 550px;
.leftA {
	position: absolute;
	left    : 1.2em;
	right   : auto;
}
.rightA {
	position: absolute;
	right   : 1.2em;
	left    : auto;
}
.topA {
	position: absolute;
	top     : 1.2em;
	bottom  : auto;
}
.bottomA {
	position: absolute;
	bottom  : 1.2em;
	top     : auto;
}
.noTransition {
	transition: none;
}
.hidden {
	display: none;
}
.container {
	display   : block;
	position  : relative;
	width     : 100%;
	max-width : $containerWidth;
	margin    : 0 auto;
	box-sizing: border-box;
}
p {
	width      : 80%;
	margin     : 0.5em auto 1em;
	line-height: 150%;
	font-size  : 1.2em;
}
.centerAlign {
	text-align: center;
	p {
		text-align: center;
	}
}
.justify {
	text-align: justify;
}
img {
	max-width: 90%;
	&.fullWidth {
		max-width: 100%;
	}
}
.image {
	&.fullWidth {
		height           : 400px;
		background-repeat: no-repeat;
		background-size  : cover;
		width            : 100%;
	}
}
.fullWidthImgContainer {
	position: relative;
	display : block;
	height  : 400px;
	padding : 0;
	margin  : 0 auto;
	z-index : 1;
	.img {
		display          : block;
		position         : absolute;
		top              : 0;
		left             : 0;
		width            : 100%;
		height           : 100%;
		padding          : 0;
		margin           : 0;
		background-repeat: no-repeat;
		background-size  : cover;
		z-index          : -1;
		opacity          : 0.7;
	}
	.medium,
	.small {
		display: none;
	}
	@media(min-width: 1000px) {
		height: 500px;
	}
	@media(max-width: $largeBP) {
		.large {
			display: none;
		}
		.medium {
			display: block;
		}
	}
	@media(max-width: $smallBP) {
		.medium {
			display: none;
		}
		.small {
			display: block;
		}
	}
	.overlay {
		position: absolute;
		top     : 0;
		left    : 0;
		right   : 0;
		bottom  : 0;
		width   : 100%;
		height  : 100%;
		margin  : 0;
		padding : 0;
		z-index : -1;
	}
	h1 {
		position: relative;
		top     : 20%;
		display : inline-block;
		padding : 0 0.4em;
		margin  : 0 auto;
	}
}
.halves {
	display       : inline-block;
	width         : 49%;
	padding       : 0 1em;
	box-sizing    : border-box;
	margin-left   : 0;
	margin-right  : 0;
	vertical-align: top;
	p {
		padding       : 0;
		margin        : 1em auto;
		vertical-align: top;
		width         : 100%;
	}
	h3 {
		margin-top: 0;
		font-size : 2.2em;
	}
	@media(max-width: $mediumBP) {
		display: block;
		width  : 90%;
		margin : 1em auto 3.5em;
	}
	@media(max-width: $smallBP) {
		width: 98%;
		img.boxed {
			width: 95%;
		}
		p {
			text-align: center;
		}
	}
	img.boxed {
		width: 80%;
	}
}
.thirds {
	display     : inline-block;
	width       : 32%;
	padding     : 0 1em;
	box-sizing  : border-box;
	margin-left : 0;
	margin-right: 0;
	text-align  : center;
	&.two {
		width: 65%;
	}
	&.top {
		vertical-align: top;
	}
	p {
		padding       : 0;
		margin        : 1em auto;
		vertical-align: top;
		width         : 100%;
		text-align    : center;
	}
	h3 {
		margin   : 0 auto;
		font-size: 2.2em;
	}
	@media(max-width: $mediumBP) {
		&.two {
			width: 90%;
		}
		display: block;
		width  : 90%;
		margin : 0.5em auto 1em;
	}
}
.innerModal {
	display   : block;
	position  : relative;
	margin    : 1.5em auto 3em;
	width     : 90%;
	text-align: center;
	overflow  : hidden;
	.title {
		display   : block;
		max-width : 100%;
		margin    : 0 auto;
		background: transparent;
		h3 {
			margin     : 0.5em;
			line-height: 130%;
			margin     : 0;
			padding    : 0.4em 0 0.3em;
			font-size  : 2.0em;
		}
	}
	.imageContainer {
		display : block;
		position: relative;
		height  : 100%;
		width   : 100%;
		top     : 0;
		left    : 0;
		padding : 0;
		z-index : 1;
		overflow: hidden;
		&.hide {
			display: none;
		}
		img {
			display: none;
		}
	}
	.content {
		position  : relative;
		margin    : 1em auto 1.5em;
		width     : 100%;
		box-sizing: border-box;
		padding   : 0.5em 0.8em 2em;
	}
	img {
		margin: 0.5em auto;
		width : 80%;
	}
	h2.topHeading {
		margin-top: 0;
	}
	@media(min-width: $mediumBP) {
		text-align: left;
		.imageContainer {
			position: absolute;
			width   : 50%;
			&.hide {
				display: block;
			}
			img {
				display  : block;
				position : absolute;
				top      : 0;
				height   : 100%;
				width    : auto;
				max-width: initial;
				padding  : 0;
				margin   : 0;
				left     : 50%;
				transform: translateX(-50%);
				&.transparent {
					opacity: 0.7;
				}
			}
		}
		.content {
			margin    : 0;
			left      : 50%;
			width     : 50%;
			box-sizing: border-box;
			padding   : 2em 0.8em;
		}
		&.even {
			.imageContainer {
				left: 50%;
			}
			.content {
				left: 0;
			}
		}
		.title {
			position  : absolute;
			top       : 40%;
			transform : translateY(-50%);
			margin    : 0 auto;
			left      : 0;
			right     : 0;
			z-index   : 10;
			width     : 80%;
			text-align: center;
			h3 {
				width    : 90%;
				margin   : 5% auto;
				font-size: 2.8em;
			}
		}
		.likeButton {
			display   : block;
			margin    : 0.5em auto;
			width     : 120px;
			text-align: center;
		}
	}
	@media (max-width: $smallBP) {
		padding-left: 0;
		padding-right: 0;
		width: 95%;
		p, img {
			width: 95%;
			max-width: 95%;
		}
	}
}
img.thirds {
	vertical-align: baseline;
	@media(max-width: $mediumBP) {
		max-width     : 400px;
		width         : 80%;
		vertical-align: middle;
	}
}
header {
	position  : relative;
	box-sizing: border-box;
	padding   : 0;
	position  : relative;
	top       : 0;
	text-align: left;
	nav {
		@extend .container;
		a.home {
			margin-left: 0.5em;
		}
		ul {
			float       : right;
			margin-top  : 2.4em;
			margin-right: 1em;
			@media(max-width: $mediumBP) {
				display: none;
			}
			a {
				padding: 0.4em 0.4em 0.3em;
				margin : 0 0.1em;
			}
		}
		li {
			list-style: none;
			display   : inline-block;
		}
	}
	a.menu {
		display: none;
		@media(max-width: $mediumBP) {
			display: block;
		}
	}
}
main {
	position  : relative;
	width     : 95%;
	box-sizing: border-box;
	margin    : 1em auto 2em;
	overflow-x: hidden;
	&.overlap {
		margin-top: -3em;
	}
	section {
		position  : relative;
		padding   : 1em;
		margin    : 0.5em auto 1em;
		position  : relative;
		text-align: center;
		&.emphasis {
			z-index       : 1;
			margin-bottom : 0;
			overflow      : hidden;
			padding-top   : 2em;
			padding-bottom: 5em;
			&.overlap {
				padding-top   : 5em;
				padding-bottom: 6em;
				margin-top    : -4.5em;
			}
			&.short {
				@media(min-width: $mediumBP) {
					padding-bottom: 1em;
				}
			}
		}
		&.last {
			margin-top: -3em;
			@media(max-width: $smallBP) {
				a.likeButton {
					display: block;
					margin : 0.8em auto;
				}
			}
		}
		@media(max-width: $smallBP) {
			padding: 1em 0.2em;
		}
		&.imageViewer {
			padding-left : 0;
			padding-right: 0;
		}
		.flowerGroup {
			margin-top: 1.5em;
			@media(max-width: $smallBP) {
				display: none;
			}
		}
	}
}
footer {
	width     : 100%;
	margin    : 2em 0 0;
	box-sizing: border-box;
	h3 {
		padding-top  : 0.2em;
		margin-bottom: 0.2em;
	}
}
.active {
	i {
		opacity  : 1;
		transform: scale(1);
	}
}
.break {
	display: none;
	&Medium {
		@media(max-width: $mediumBP) {
			display: block;
		}
	}
}
