@import "normalize";
$containerWidth: 1100px;
$largeBP: 1100px;
$mediumBP: 900px;
$smallBP: 550px;
.leftA {
	position: absolute;
	left    : 1.2em;
	right   : auto;
}
.rightA {
	position: absolute;
	right   : 1.2em;
	left    : auto;
}
.topA {
	position: absolute;
	top     : 1.2em;
	bottom  : auto;
}
.bottomA {
	position: absolute;
	bottom  : 1.2em;
	top     : auto;
}
.noTransition {
	transition: none;
}
.hidden {
	display: none;
}
.container {
	display   : block;
	position  : relative;
	width     : 100%;
	max-width : $containerWidth;
	margin    : 0 auto;
	box-sizing: border-box;
}
p {
	width      : 80%;
	margin     : 0.5em auto 1em;
	line-height: 150%;
	font-size  : 1.2em;
}
.centerAlign {
	text-align: center;
	p {
		text-align: center;
	}
}
.justify {
	text-align: justify;
}
img {
	max-width: 90%;
	&.fullWidth {
		max-width: 100%;
	}
}
.image {
	&.fullWidth {
		height           : 400px;
		background-repeat: no-repeat;
		background-size  : cover;
		width            : 100%;
	}
}
.fullWidthImgContainer {
	position: relative;
	display : block;
	height  : 400px;
	padding : 0;
	margin  : 0 auto;
	z-index : 1;
	.img {
		display          : block;
		position         : absolute;
		top              : 0;
		left             : 0;
		width            : 100%;
		height           : 100%;
		padding          : 0;
		margin           : 0;
		background-repeat: no-repeat;
		background-size  : cover;
		z-index          : -1;
		opacity          : 0.7;
	}
	.medium,
	.small {
		display: none;
	}
	@media(min-width: 1000px) {
		height: 500px;
	}
	@media(max-width: $largeBP) {
		.large {
			display: none;
		}
		.medium {
			display: block;
		}
	}
	@media(max-width: $smallBP) {
		.medium {
			display: none;
		}
		.small {
			display: block;
		}
	}
	.overlay {
		position: absolute;
		top     : 0;
		left    : 0;
		right   : 0;
		bottom  : 0;
		width   : 100%;
		height  : 100%;
		margin  : 0;
		padding : 0;
		z-index: -1;
	}
	h1 {
		line-height: 350px;
		vertical-align: middle;
		margin: 0;
		@media(min-width: $largeBP) {
			line-height: 400px;
		}
	}
}
.halves {
	display       : inline-block;
	width         : 49%;
	padding       : 0 1em;
	box-sizing    : border-box;
	margin-left   : 0;
	margin-right  : 0;
	vertical-align: top;
	p {
		padding       : 0;
		margin        : 1em auto;
		vertical-align: top;
		width         : 100%;
	}
	h3 {
		margin-top: 0;
		font-size : 2.2em;
	}
	@media(max-width: $mediumBP) {
		display: block;
		width  : 90%;
		margin : 1em auto 3.5em;
	}
}
.thirds {
	display       : inline-block;
	width         : 32%;
	padding       : 0 1em;
	box-sizing    : border-box;
	margin-left   : 0;
	margin-right  : 0;
	vertical-align: top;
	text-align    : center;
	&.two {
		width: 65%;
	}
	p {
		padding       : 0;
		margin        : 1em auto;
		vertical-align: top;
		width         : 100%;
		text-align    : center;
	}
	h3 {
		margin   : 0 auto;
		font-size: 2.2em;
	}
	@media(max-width: $mediumBP) {
		&.two {
			width: 90%;
		}
		display: block;
		width  : 90%;
		margin : 0.5em auto;
	}
}
@media(max-width: $mediumBP) {
	img.thirds {
		max-width: 400px;
		width    : 80%;
	}
}
header {
	position  : relative;
	box-sizing: border-box;
	padding   : 0;
	position  : relative;
	top       : 0;
	text-align: left;
	nav {
		@extend .container;
		a.home {
			margin-left: 0.5em;
		}
		ul {
			float     : right;
			margin-top: 2.4em;
			a {
				padding: 0.4em 0.4em 0.3em;
				margin : 0 0.1em;
			}
		}
		li {
			list-style: none;
			display   : inline-block;
		}
	}
}
main {
	position  : relative;
	width     : 95%;
	box-sizing: border-box;
	margin    : 1em auto 2em;
	overflow-x: hidden;
	&.overlap {
		margin-top: -3em;
	}
	section {
		position  : relative;
		padding   : 1em;
		margin    : 0.5em auto 1em;
		position  : relative;
		text-align: center;
		&.emphasis {
			z-index       : 1;
			margin-bottom : 0;
			overflow      : hidden;
			padding-top   : 2em;
			padding-bottom: 4.5em;
			&.overlap {
				margin-top: -4.5em;
			}
		}
	}
}
footer {
	width     : 100%;
	margin    : 2em 0 0;
	box-sizing: border-box;
	h3 {
		padding-top  : 0.2em;
		margin-bottom: 0.2em;
	}
}
.active {
	i {
		opacity  : 1;
		transform: scale(1);
	}
}
