//Variables
$colorMain: #5f368e;
$colorDark: #413978;
$colorLightMain: #5E35B1;
$colorSubtle: #2B52A4;
$colorHighlight: #F5D32C;
$colorAccent: #F5B12C;
$colorLight: #FFE154;
$colorBackground: rgb(229, 231, 218);
$colorGrey: #757575;
$colorWhite: #FFFFFF;
$colorLightGrey: #f1f1f1;
$colorBlack: #212121;
$funFont: 'Bad Script', sans-serif;
$normalFont: 'Josefin Sans', sans-serif;
@function top-shadow($depth) {
	$primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
	$blur          : nth(1.5 3 10 14 19, $depth) * 4px;
	$color         : rgba(black, nth(.12 .16 .19 .25 .30, $depth));
	@return 0 $primary-offset $blur $color;
}
@function bottom-shadow($depth) {
	$primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
	$blur          : nth(1 3 3 5 6, $depth) * 4px;
	$color         : rgba(black, nth(.24 .23 .23 .22 .22, $depth));
	@return 0 $primary-offset $blur $color;
}
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}
//** Mixins **//
@mixin shadow($depth) {
	 @if $depth < 1{
		box-shadow: none;
	}
	@else if $depth > 5 {
		 @warn"Invalid $depth `#{$depth}` for mixin `shadow`.";
	}
	@else {
		box-shadow: bottom-shadow($depth), top-shadow($depth);
	}
}
@mixin darkShadow {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
@mixin lightShadow {
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}
body {
	font-family            : $normalFont;
	min-height             : 100%;
	background             : $colorBackground;
	background-image       : url('../images/background.png');
	color                  : $colorBlack;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,
h3,
h5 {
	font-family: $funFont;
	font-weight: normal;
	text-align : center;
}
h1 {
	font-size: 2.5em;
	margin   : 0.2em auto;
	&.main {
		letter-spacing: 3px;
		font-size     : 5em;
		@include darkShadow;
		@media(min-width: $mediumBP) {
			font-size: 5.5em;
		}
		@media(min-width: $largeBP) {
			font-size: 7.5em;
		}
	}
}
h2 {
	font-weight: normal;
	text-align : center;
	font-family: $normalFont;
	font-size  : 2.8em;
	&.funFont {
		font-family   : $funFont;
		font-size     : 3.6em;
		margin        : 0.2em auto;
		letter-spacing: 0.05em;
	}
	&.main {
		font-size  : 2em;
		font-family: $normalFont;
		@include darkShadow;
		@media(min-width: $largeBP) {
			font-size: 3em;
		}
	}
}
h3 {
	font-size: 3em;
	&.normalFont {
		font-family: $normalFont;
		margin     : 0.4em auto;
	}
}
.subtleText {
	color     : $colorGrey;
	font-style: italic;
}
p.subtleText {
	font-size: 1.4em;
	margin   : 0.5em auto 1em;
}
.textShadow {
	@include darkShadow;
}
.likeButton,
button,
input[type="button"],
input[type="submit"] {
	display        : inline-block;
	background     : $colorMain;
	padding        : 0.5em 1.6em;
	margin         : 0.5em auto;
	border         : none;
	border-radius  : 3px;
	color          : $colorWhite;
	text-decoration: none;
	font-size      : 1.4em;
	z-index        : 10;
	@include shadow(1);
	transition     : box-shadow 0.2s ease;
	cursor         : pointer;
	&.primary {
		background: $colorAccent;
	}
	&:hover {
		@include shadow(2);
	}
	&:active,
	&:focus,
	&:visited {
		color  : $colorWhite;
		outline: none;
	}
}
img.boxed {
	padding      : 0.4em;
	background   : $colorWhite;
	border-radius: 3px;
	@include shadow(1);
}
.b-lazy {
	transition: opacity 500ms ease-in-out;
	max-width : 100%;
	opacity   : 0;
}
.b-loaded {
	opacity: 1;
}
main {
	background   : $colorWhite;
	max-width    : $containerWidth;
	border-radius: 0.3em;
	overflow: hidden;
	@include shadow(1);
	section {
		padding : 1em;
		margin  : 0.5em auto 1em;
		position: relative;
		&.emphasis::after {
			display                    : block;
			content                    : ' ';
			position                   : absolute;
			left                       : -5em;
			top                        : 2em;
			height                     : 90%;
			width                      : 140%;
			background                 : $colorBackground;
			z-index                    : -1;
			transform                  : rotate(-3deg) translate3d( 0, 0, 0);
			-webkit-backface-visibility: hidden;
		}
	}
}
footer {
	.subtleText {
		color  : $colorWhite;
		margin : 0 auto;
		padding: 0.5em;
	}
}
span.funFont {
	font-family: $funFont;
	font-size  : 1em;
	color      : $colorMain;
}
.light {
	background: $colorBackground;
	color     : $colorBlack;
}
.dark {
	background: rgba(53, 28, 104, 0.72);
	color     : $colorWhite;
}
.grey {
	background: $colorLightGrey;
}
.darkBlue {
	background: $colorDark;
	color     : $colorWhite;
}
header {
	background: rgba(53, 28, 104, 0.72);
	color     : $colorWhite;
	nav {
		a {
			color          : $colorWhite;
			text-decoration: none;
			transition: background 0.3s ease;
			border-radius: 0.1em;
			@include darkShadow;
			&.home {
				font-family    : $funFont;
				font-size      : 3em;
			}
		}
		ul a {
			font-size: 1.4em;
			&:hover {
				background: rgba(0,0,0, 0.2);
			}
		}
	}
}
.animateScale {
	transform : scale(0);
	opacity   : 0;
	transition: opacity 0.8s ease, transform 1.2s ease;
	&.active {
		transform: scale(1);
		opacity  : 1;
	}
}
.active {
	.animateScale {
		transform: scale(1);
		opacity  : 1;
	}
}
