//Variables
$colorMain: #715196;
$colorDark: #504978;
$colorVeryDark: #3a3265;
$colorLightMain: #5e5694;
$colorSubtle: #5c6ea4;
$colorHighlight: #F5D32C;
$colorAccent: #F5B12C;
$colorLight: #FFE154;
$colorBackground: rgb(229, 231, 218);
$colorGrey: #757575;
$colorWhite: #FFFFFF;
$colorLightGrey: #f1f1f1;
$colorOverlay: rgba(90, 48, 146, 0.5);
$colorBlack: #212121;
$funFont: 'Bad Script', sans-serif;
$normalFont: 'Josefin Sans', sans-serif;
@function top-shadow($depth) {
	$primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
	$blur          : nth(1.5 3 10 14 19, $depth) * 4px;
	$color         : rgba(black, nth(.12 .16 .19 .25 .30, $depth));
	@return 0 $primary-offset $blur $color;
}
@function bottom-shadow($depth) {
	$primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
	$blur          : nth(1 3 3 5 6, $depth) * 4px;
	$color         : rgba(black, nth(.24 .23 .23 .22 .22, $depth));
	@return 0 $primary-offset $blur $color;
}
//** Mixins **//
@mixin shadow($depth) {
	 @if $depth < 1{
		box-shadow: none;
	}
	@else {
		box-shadow: bottom-shadow($depth), top-shadow($depth);
	}
}
@mixin darkShadow {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
@mixin lightShadow {
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
}
body {
	font-family            : $normalFont;
	min-height             : 100%;
	background             : $colorBackground;
	background-image       : url('../images/background.png');
	color                  : $colorBlack;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,
h3,
h5 {
	font-family: $funFont;
	font-weight: normal;
	text-align : center;
}
h1 {
	font-size: 4em;
	margin   : 0.2em auto;
	&.main {
		letter-spacing: 3px;
		font-size     : 5em;
		color         : $colorWhite;
		@include darkShadow;
		@media(min-width: $mediumBP) {
			font-size: 5.5em;
		}
		@media(min-width: $largeBP) {
			font-size: 7.5em;
		}
	}
	&.carTitle {
		letter-spacing: 3px;
		font-size     : 4em;
		color         : $colorWhite;
		background    : $colorOverlay;
		&:after {
			display: none;
		}
		@include darkShadow;
		@media(min-width: $mediumBP) {
			font-size: 5em;
		}
		@media(min-width: $largeBP) {
			font-size: 6.5em;
		}
	}
}
h2 {
	font-weight: normal;
	text-align : center;
	font-family: $normalFont;
	font-size  : 2.8em;
	&.funFont {
		font-family   : $funFont;
		font-size     : 3.6em;
		margin        : 0.2em auto;
		letter-spacing: 0.05em;
	}
	&.main {
		font-size  : 2em;
		font-family: $normalFont;
		@include darkShadow;
		@media(min-width: $largeBP) {
			font-size: 3em;
		}
	}
}
h3 {
	font-size: 3em;
	&.normalFont {
		font-family: $normalFont;
		margin     : 0.4em auto;
	}
}
.subtleText {
	color     : $colorGrey;
	font-style: italic;
}
p {
	&.strongText {
		font-size: 1.8em;
	}
	&.white {
		color: $colorWhite;
	}
	&.subtleText {
		font-size: 1.4em;
		margin   : 0.5em auto 1em;
	}
	&.opener {
		padding-top: 0;
		margin-top : 0;
		font-style : italic;
		font-size  : 1.3em;
	}
	@media(max-width: $smallBP) {
		text-align: center;
	}
}
.textShadow {
	@include darkShadow;
}
.likeButton,
button,
input[type="button"],
input[type="submit"] {
	display        : inline-block;
	background     : $colorMain;
	padding        : 0.5em 1.6em;
	margin         : 0.5em 0.8em;
	border         : none;
	border-radius  : 3px;
	color          : $colorWhite;
	text-decoration: none;
	font-size      : 1.4em;
	z-index        : 10;
	text-align     : center;
	@include shadow(1);
	transition     : box-shadow 0.2s ease;
	cursor         : pointer;
	text-shadow    : none;
	&:hover {
		@include shadow(2);
	}
	&.primary {
		background: $colorAccent;
	}
	&.subtle {
		border    : 1px solid $colorGrey;
		background: transparent;
		color     : $colorBlack;
		&:hover {
			box-shadow: none;
		}
		&:active,
		&:focus,
		&:visited {
			color: $colorBlack;
		}
	}
	&:active,
	&:focus,
	&:visited {
		color  : $colorWhite;
		outline: none;
	}
	&.small {
		padding  : 0.2em 0.8em;
		font-size: 1em;
	}
}
.innerModal {
	background   : $colorWhite;
	border-radius: 0.3em;
	@include shadow(1);
	h3 {
		font-size : 3em;
		background: $colorDark;
		@include darkShadow;
		@media(min-width: $mediumBP) {
			background: transparent;
		}
	}
	p {
		text-align: left;
	}
	.title {
		background: $colorOverlay;
		color     : $colorWhite;
	}
	@media(max-width: $smallBP) {
		box-shadow: none;
	}
}
.boxed {
	padding      : 0.4em;
	background   : $colorWhite;
	border-radius: 3px;
	@include shadow(1);
	@media(max-width: $smallBP) {
		width: 95%;
	}
}
.b-lazy {
	transition: opacity 500ms ease-in-out;
	max-width : 100%;
	opacity   : 0;
}
.b-loaded {
	opacity: 1;
}
main {
	background   : $colorWhite;
	max-width    : $containerWidth;
	border-radius: 0.3em;
	overflow     : hidden;
	@include shadow(1);
	section {
		padding : 1em;
		margin  : 0.5em auto 1em;
		position: relative;
		.innerModal {
			@include shadow(1);
		}
	}
	h1 {
		position   : relative;
		display    : inline-block;
		text-shadow: 0.03em 0 $colorWhite, -.03em 0 $colorWhite, 0 0.03em $colorWhite, 0 -.03em $colorWhite, 0.06em 0 $colorWhite, -.06em 0 $colorWhite, 0.09em 0 $colorWhite, -.09em 0 $colorWhite, 0.12em 0 $colorWhite, -.12em 0 $colorWhite, 0.15em 0 $colorWhite, -.15em 0 $colorWhite;
		z-index    : 1;
		&:after {
			content   : ' ';
			position  : absolute;
			width     : 104%;
			left      : -2%;
			bottom    : 0.5em;
			border-top: 2px solid $colorMain;
			z-index   : -1;
		}
		@media(max-width: $mediumBP) {
			font-size: 3em;
		}
	}
}
footer {
	background: $colorDark;
	color     : $colorWhite;
	.subtleText {
		color  : $colorWhite;
		margin : 0 auto;
		padding: 0.5em;
	}
}
span.funFont {
	font-family: $funFont;
	font-size  : 1em;
	color      : $colorMain;
}
.light {
	background: $colorBackground;
	color     : $colorBlack;
}
.dark {
	background: $colorDark;
	color     : $colorWhite;
}
.grey {
	background: $colorLightGrey;
}
.darkBlue {
	background: $colorDark;
	color     : $colorWhite;
}
.overlayPurple {
	background: $colorOverlay;
}
.emphasis {
	z-index: 1;
	position: relative;

	&::after {
		display   : block;
		content   : ' ';
		position  : absolute;
		left      : -10em;
		top       : 0em;
		height    : 85%;
		width     : 270%;
		background: $colorBackground;
		z-index   : -1;
		transform : skewY(-3deg);
	}
	&.emphasis-purple {
		&::after {
			background: $colorOverlay;
		}
	}
}
.menu {
	display      : inline-block;
	padding      : 0.3em 0.4em 0.2em;
	background   : rgba(0,0,0,0.3);
	border-radius: 0.2em;
	transition   : transform 0.2s ease;
	z-index      : 9000;
}
.overlay {
	position  : fixed;
	display   : block;
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 100%;
	z-index   : -1;
	visibility: hidden;
}
nav.popupMenu {
	position  : fixed;
	top       : 0;
	right     : 0;
	width     : 250px;
	z-index   : 9999;
	margin    : 0 auto;
	background: $colorVeryDark;
	height    : 100%;
	@include shadow(1);
	transform : translateX(250px);
	transition: all 0.3s ease;
	a.close {
		display      : inline-block;
		padding      : 0.3em 0.4em 0.1em;
		background   : rgba(0,0,0,0.3);
		border-radius: 0.2em;
	}
	ul {
		position   : relative;
		padding    : 0.5em;
		margin     : 0 auto;
		box-sizing : border-box;
		text-align : center;
		max-width  : 400px;
		top        : 6%;
		left       : 0;
		right      : 0;
		margin     : 2% auto;
		width      : 95%;
		padding-top: 2em;
		@for $i from 1 through 8 {
			li:nth-child(#{$i}) {
				transition-delay: #{$i * 0.05}s;
			}
		}
		li {
			display            : block;
			list-style         : none;
			font-family        : $funFont;
			margin             : 0.2em auto;
			opacity            : 0;
			transform          : translateX(40px);
			transition         : all;
			transition-duration: 0.4s;
		}
		a {
			display        : block;
			color          : $colorWhite;
			text-decoration: none;
			font-size      : 2em;
			@media(max-height: 600px) {
				font-size: 1.4em;
			}
			transition     : background-color 0.3s ease;
			padding        : 0 1em;
			@include darkShadow;
			&.current {
				background: rgba(0,0,0,0.1);
			}
			&:hover {
				background: rgba(0,0,0,0.3);
			}
		}
	}
}
body.menuOpen {
	.overlay {
		visibility: visible;
		z-index   : 9000;
	}
	.menu {
		transform: scale(0);
	}
	.popupMenu {
		transform: translate(0);
		li {
			transform: translate(0);
			opacity  : 1;
		}
	}
}
header {
	background: $colorDark;
	color     : $colorWhite;
	nav {
		height: 95px;
		a {
			color          : $colorWhite;
			text-decoration: none;
			transition     : background 0.3s ease;
			border-radius  : 0.1em;
			@include darkShadow;
			&.home {
				font-family: $funFont;
				font-size  : 3em;
			}
			&.current {
				border-bottom             : 3px solid $colorWhite;
				border-bottom-left-radius : 0;
				border-bottom-right-radius: 0;
			}
		}
		ul a {
			font-size: 1.4em;
			&:hover {
				background: rgba(0,0,0, 0.2);
			}
		}
	}
}
.flowerGroup {
	position: absolute;
	display : inline-block;
	margin  : 0 auto;
	z-index : 10;
	&.down {
		margin-top: 1em;
		i {
			transition-delay   : 0.4s;
			transition-duration: 2s;
		}
		.one {
			display: inline-block;
		}
		.two {
			position           : absolute;
			top                : 0;
			left               : 5.8em;
			transition-delay   : 0.6s;
			transition-duration: 1.2s;
		}
		.three {
			position           : absolute;
			top                : -1em;
			left               : 4.5em;
			transition-delay   : 1s;
			transition-duration: 1s;
		}
	}
	&.up {
		i {
			transition-delay   : 1.2s;
			transition-duration: 2s;
		}
		.one {
			display: inline-block;
		}
		.two {
			position           : absolute;
			top                : 1em;
			left               : -3.7em;
			transition-delay   : 1.7s;
			transition-duration: 1s;
		}
		.three {
			position           : absolute;
			top                : -0.5em;
			left               : -1em;
			transition-delay   : 1.8s;
			transition-duration: 0.8s;
		}
	}
}
.outline-round {
	display: inline-block;
	padding: 0.5em;
	border-radius: 50%;
	background: #E0E0E0;
}
.animateScale {
	transform : scale(0);
	opacity   : 0;
	transition: opacity 0.8s ease, transform 1.2s ease;
	&.active {
		transform: scale(1);
		opacity  : 1;
	}
}
.active {
	.animateScale {
		transform: scale(1);
		opacity  : 1;
	}
}
