.icon-Hibiscus,
.icon-Hibiscus-center,
.icon-Hibiscus-center-p,
.icon-Hibiscus-flip,
.icon-Hibiscus-flip-p,
.icon-Hibiscus-p {
    display: inline-block;
    background-size: 100%;
    width          : 5.5em;
    height         : 5.5em;
    &.small {
        width : 3.5em;
        height: 3.5em;
    }
    &.v-small {
        width : 1.8em;
        height: 1.8em;
    }
}
.active {
    &.transparent {
        opacity: 0.4;
    }
}
