@import 'components/_layout';
@import 'components/_styling';
@import 'components/_svgs';
@import 'components/_forms';

article.halves.subtleText {
  padding-top: 1.5em;
}

.googleMap {
  @extend .boxed;
  width: 95%;
  display: block;
  margin: 0.5em auto;
  height: 400px;
}
