@import "components/_layout";
@import "components/_styling";
@import "components/_svgs";
header {
	height    : 600px;
	background: rgba(90, 48, 146, 0.52);
	box-sizing: border-box;
	&:before {
		content          : ' ';
		display          : block;
		position         : absolute;
		left             : 0;
		top              : 0;
		width            : 100%;
		height           : 100%;
		z-index          : -1;
		opacity          : 0.6;
		background-image : url('../images/background.jpg');
		background-repeat: no-repeat;
		background-size  : cover;
		@media(min-width: 1300px) {
			background-image: url('../images/background-1300.jpg');
		}
		@media(max-width: 900px) {
			background-image: url('../images/background-900.jpg');
		}
		@media(max-width: 700px) {
			background-image: url('../images/background-700.jpg');
		}
		@media(max-width: 500px) {
			background-image: url('../images/background-500.jpg');
		}
		@media(max-width: 350px) {
			background-image: url('../images/background-350.jpg');
		}
	}
	section.container {
		height: 95%;
	}
}
section.first {
	padding-top   : 1em;
	padding-bottom: 0;
	.thirds.two {
		margin-bottom: 2em;
		h2 {
			margin-top: 0.2em;
			@media(max-width: $smallBP) {
				margin-top: 0.8em;
			}
		}
	}
	@media(min-width: $mediumBP) {
		img {
			margin-top: 1em;
		}
	}
	@media(max-width: $mediumBP) {
		padding: 0.1em 0 2em;
		.thirds.two {
			margin-bottom: 0;
		}
	}
}
h1.main {
	margin-top   : 0;
	padding-top  : 0.8em;
	margin-bottom: 0;
	@media(min-width: $largeBP) {
		padding-top: 0.1em;
	}
}
h2.main {
	margin: 0.2em auto 1em;
}
.flowerGroup {
	position: absolute;
	display : inline-block;
	margin  : 0 auto;
	&.down {
		margin-top: 1em;
		i {
			transition-delay   : 0.4s;
			transition-duration: 2s;
		}
		.one {
			display: inline-block;
		}
		.two {
			position           : absolute;
			top                : 0;
			left               : 5.8em;
			transition-delay   : 0.6s;
			transition-duration: 1.2s;
		}
		.three {
			position           : absolute;
			top                : -1em;
			left               : 4.5em;
			transition-delay   : 1s;
			transition-duration: 1s;
		}
	}
	&.up {
		i {
			transition-delay   : 1.2s;
			transition-duration: 2s;
		}
		.one {
			display: inline-block;
		}
		.two {
			position           : absolute;
			top                : 1em;
			left               : -3.7em;
			transition-delay   : 1.7s;
			transition-duration: 1s;
		}
		.three {
			position           : absolute;
			top                : -0.5em;
			left               : -1em;
			transition-delay   : 1.8s;
			transition-duration: 0.8s;
		}
	}
	@media(max-width: $smallBP) {
		&.up {
			display: none;
		}
		&.down {
			left  : 0;
			right : 0;
			margin: 0 auto;
			i.one,
			i.three,
			i.two {
				display : inline-block;
				position: relative;
				width   : 3em;
				height  : 3em;
				top     : auto;
				left    : auto;
				right   : auto;
				&.small,
				&.v-small {
					width : 2em;
					height: 2em;
				}
			}
		}
	}
}
section.second.emphasis {
	h2 {
		margin-bottom: -0.1em;
		margin-top   : 0.4em;
		@include lightShadow;
	}
	.flowerGroup {
		top: 2.5em;
		@media(max-width: $mediumBP) {
			display: none;
		}
	}
	@media(max-width: $mediumBP) {
		padding-bottom: 1em;
		&::after {
			height: 95%;
		}
	}
}
section.third {
	margin-top: 0;
}
section.fourth.emphasis {
	margin-top    : 2.5em;
	margin-bottom : 0;
	padding-top   : 7.5em;
	padding-bottom: 5em;
	border-radius : 0.3em;
	overflow-x    : hidden;
	&::after {
		height: 100%;
		top   : 2.5em;
	}
	@media(max-width: $smallBP) {
		a.likeButton {
			display: block;
			margin : 0.8em auto;
		}
	}
}
