@import 'components/_layout';
@import 'components/_styling';
@import 'components/_svgs';
@import 'components/photoswipe';
@import 'components/default-skin';
.main-gallery {
	max-width: 800px;
	figure {
		display: inline-block;
		margin : 0;
	}
	.boxed {
		margin    : 0.8em 0.4em;
		background: $colorBackground;
	}
	img {
		max-width: 230px;
		width    : 95%;
	}
	.feature {
		display: block;
		margin : 0 auto 0.5em;
		img {
			max-width: 300px;
			width    : 60%;
		}
	}
	hr {
		display: none;
		clear  : both;
		border : none;
	}
	@media(min-width: $largeBP) {
		hr {
			display: block;
		}
		figure {
			&.secondary {
				float: right;
				img {
					max-width: none;
					width    : auto;
				}
			}
			&.feature {
				float     : left;
				margin-top: 1.4em;
				img {
					max-width: none;
					width    : auto;
				}
			}
		}
	}
}
.last.emphasis {
	margin-top    : -3em;
	padding-top   : 6em;
	padding-bottom: 5em;
	margin-bottom : -1.5em;
}
