@import 'components/_layout';
@import 'components/_styling';
@import 'components/_svgs';
@import 'components/photoswipe';
@import 'components/default-skin';
.main-gallery {
	max-width: 800px;
	figure {
		display: inline-block;
		margin : 0;
	}
	.boxed {
		margin    : 0.8em 0.4em;
		background: $colorBackground;
	}
	figure {
		&.secondary {
			float: right;
		}
		&.feature {
			float     : left;
			margin-top: 1.2em;
		}
	}
}
hr {
	clear: both;
	border: none;
}
.last.emphasis {
	margin-top    : -3em;
	padding-top   : 6em;
	padding-bottom: 5em;
	margin-bottom : -1.5em;
}
